<div class="row" [formGroup]="additionalServiceFormGroup">
    <div class="col-sm-7">
        <h3>{{additionalService.title[translate.currentLang]}}</h3>
        <!-- category date handling -->
        <div *ngIf="!additionalService.expired && additionalService.saleInFuture">{{'show-event.sales-not-started'|translate: {'0': additionalService.formattedInception[translate.currentLang]} }}</div>
        <div *ngIf="!additionalService.expired && !additionalService.saleInFuture">{{'show-event.sales-end'|translate: {'0': additionalService.formattedExpiration[translate.currentLang]} }}</div>
        <div *ngIf="additionalService.expired">{{'show-event.sales-ended'|translate: {'0': additionalService.formattedExpiration[translate.currentLang]} }}</div>
        <!-- -->
        <div [innerHtml]="additionalService.description[translate.currentLang]"></div>
    </div>
    <div class="col-sm-3">
        <span *ngIf="additionalService.free" translate="common.free"></span>
        <span *ngIf="!additionalService.free && additionalService.fixPrice">
            <ng-container *ngIf="additionalService.hasDiscount"><del>{{additionalService.formattedFinalPrice}}</del>{{' '}}<mark>{{additionalService.formattedDiscountedPrice}}</mark> {{event.currency}}</ng-container>
            <ng-container *ngIf="!additionalService.hasDiscount">{{additionalService.formattedFinalPrice}} {{event.currency}}</ng-container>
            {{' '}}
            <span *ngIf="additionalService.vatApplies">
                <fa-icon [icon]="['fa', 'info-circle']" class="text-info" ngbTooltip="{{(additionalService.vatIncluded ? 'show-event.incVat' : 'show-event.excVat') | translate:{'0':additionalService.vatPercentage, '1': 'TODO'} }}"></fa-icon>
            </span>
        </span>
    </div>
    <div class="col-sm-2">
        <div *ngIf="additionalService.fixPrice && additionalService.supplementPolicy === 'MANDATORY_ONE_FOR_TICKET'" translate="show-event.mandatoryOneForTicket"></div>
        <div *ngIf="additionalService.fixPrice && additionalService.supplementPolicy === 'OPTIONAL_UNLIMITED_AMOUNT'"><input type="number" min="0" step="1" class="form-control" placeholder="0" autocomplete="off" formControlName="quantity"></div>
        <div *ngIf="additionalService.fixPrice && [null, 'OPTIONAL_MAX_AMOUNT_PER_RESERVATION', 'OPTIONAL_MAX_AMOUNT_PER_TICKET'].indexOf(additionalService.supplementPolicy) >= 0 ">
            <select class="form-control text-align-center" placeholder="0" autocomplete="off" formControlNam="quantity">
                <option *ngFor="let amount of validSelectionValues" [value]="amount">{{amount}}</option>
            </select>
        </div>
        <div *ngIf="!additionalService.fixPrice">
            <div class="input-group mb-3">
                <input type="number" min="0" step="any" class="form-control" value="0" formControlName="amount">
                <div class="input-group-append">
                    <span class="input-group-text append-currency">{{event.currency}}</span>
                </div>
            </div>
        </div>
    </div>
</div>