<hr>


<h1 translate="reservation-page-complete.your-tickets"></h1>


<div class="alert alert-success alert-dismissible" role="alert" *ngIf="reservationMailSent">
  <button type="button" class="close" (click)="reservationMailSent = false"><span aria-hidden="true">&times;</span><span class="sr-only" translate="reservation-page-complete.cancel"></span></button>
  <strong translate="email.confirmation-email-sent"></strong>
</div>


<div *ngIf="reservationInfo && event">
  <div class="alert alert-success">
      <div class="row">
          <div class="col-sm-12">
            <h3 [innerHtml]="'reservation-page-complete.info-assign' | translate: {'0':event.displayName}"></h3>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-12" [innerHtml]="'reservation-page-complete.info-assign-email' | translate: {'0':reservationInfo.email}"></div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-align-right">
          <button type="button" (click)="reSendReservationEmail()" class="btn btn-default"><fa-icon [icon]="['far', 'envelope']"></fa-icon> {{'reservation-page-complete.resend-reservation-email'|translate}}</button>
        </div>
      </div>              
  </div>


  <div>
      <p class="bg-info ticket-info" translate="reservation-page-complete.info-update"></p>
  </div>

  <div *ngFor="let tc of reservationInfo.ticketsByCategory">
    <div *ngFor="let ticket of tc.tickets">
      <div *ngIf="ticket.assigned">
        <div class="attendees-data">
          <h3><fa-icon [icon]="['fa', 'ticket-alt']" size="xs" [classes]="['rotate-45']"></fa-icon> {{'reservation-page-complete.ticket-nr' | translate}}<span class="ticket-counter"></span></h3>
        </div>
        {{'reservation-page-complete.ticket-type'|translate}} <strong>{{tc.name}}</strong>
        <div class="wMarginBottom">
            <p [innerHtml]="'reservation-page-complete.assigned-to' | translate: {'0': ticket.fullName, '1': ticket.email}"></p>

            <div class="row">
              <div class="col-lg-3 col-sm-6 col-xs-12 wMarginBottom">
                <a [routerLink]="['/event', event.shortName, 'ticket', ticket.uuid, 'view']" target="_blank" class="btn btn-primary btn-block">
                  <fa-icon [icon]="['fa', 'search-plus']"></fa-icon>
                  {{'reservation-page-complete.show-ticket'|translate}}
                </a>
              </div>
              <div class="col-lg-3 col-sm-6 col-xs-12 wMarginBottom">
                <a [attr.href]="'/api/v2/public/event/' + event.shortName + '/ticket/' + ticket.uuid + '/download-ticket'" class="btn btn-primary btn-block">
                  <fa-icon [icon]="['fa', 'download']"></fa-icon>
                  {{'reservation-page-complete.download-ticket'|translate}}
                </a>
              </div>
              <div class="col-lg-3 col-sm-6 col-xs-12 wMarginBottom">
                <button type="button" class="btn btn-primary btn-block send-ticket-by-email" (click)="sendEmailForTicket(ticket.uuid)">
                  <fa-icon [icon]="['far', 'envelope']"></fa-icon>
                  {{'reservation-page-complete.send-ticket-by-email-to'|translate}}
                </button>
              </div>
              <div class="col-lg-3 col-sm-6 col-xs-12 wMarginBottom">
                <button type="button" class="btn btn-primary btn-block update-ticket-owner" (click)="ticketsFormShow[ticket.uuid] = true">
                  <fa-icon [icon]="['far', 'edit']"></fa-icon>
                  {{'reservation-page-complete.update-ticket-owner'|translate}}
                </button>
              </div>
            </div>

            <div *ngIf="ticketsFormShow[ticket.uuid]">
              <form [formGroup]="ticketsFormControl[ticket.uuid]" (submit)="updateTicket(ticket.uuid)">

                  <div *ngFor="let field of ticket.ticketFieldConfigurationBeforeStandard">
                    <app-additional-field [field]="field" [ticketUUID]="ticket.uuid" [form]="getControlFormForAdditionalFields(ticket.uuid)"></app-additional-field>
                  </div>

                  <div class="form-group row">
                      <label [attr.for]="ticket.uuid + '-first-name'" class="col-sm-3 col-form-label">{{'common.first-name' | translate}} *</label>
                      <div class="col-sm-9">
                        <input [attr.id]="ticket.uuid + '-first-name'" formControlName="firstName" type="text" class="form-control">
                      </div>
                  </div>

                  <div class="form-group row">
                      <label [attr.for]="ticket.uuid + '-last-name'" class="col-sm-3 col-form-label">{{'common.last-name' | translate}} *</label>
                      <div class="col-sm-9">
                        <input [attr.id]="ticket.uuid + '-last-name'" formControlName="lastName" type="text" class="form-control">
                      </div>
                  </div>

                  <div class="form-group row">
                      <label [attr.for]="ticket.uuid + '-email'" class="col-sm-3 col-form-label">{{'common.email' | translate}} *</label>
                      <div class="col-sm-9">
                        <input [attr.id]="ticket.uuid + '-email'" formControlName="email" type="email" class="form-control">
                      </div>
                  </div>

                  <div *ngFor="let field of ticket.ticketFieldConfigurationAfterStandard">
                    <app-additional-field [field]="field" [ticketUUID]="ticket.uuid" [form]="getControlFormForAdditionalFields(ticket.uuid)"></app-additional-field>
                  </div>

                  <div class="form-group row">
                      <label [attr.for]="ticket.uuid + '-userLanguage'" class="col-sm-3 col-form-label" translate="reservation-page-complete.language"></label>
                      <div class="col-sm-9">
                        <input [attr.id]="ticket.uuid + '-userLanguage'" formControlName="userLanguage" type="text" class="form-control">
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-sm-3"></div>
                      <div class="col-sm-9">
                        <div class="row">
                          <div class="order-1 col-6 text-right">
                              <button type="submit" translate="reservation-page-complete.update" class="btn btn-success"></button>
                          </div>
                          <div class="order-0 col-6">
                              <button type="button" (click)="ticketsFormShow[ticket.uuid] = false" translate="reservation-page-complete.cancel" class="btn btn-outline-dark"></button>
                          </div>
                        </div>
                      </div>
                  </div>
              </form>
            </div>
        </div>


        <div class="alert alert-success wMarginTop30px wMarginBottom hidden alert-dismissible" role="alert" *ngIf="sendEmailForTicketStatus[ticket.uuid] === 'SENT'">
            <button type="button" class="close" (click)="sendEmailForTicketStatus[ticket.uuid] = false"><span aria-hidden="true">&times;</span><span class="sr-only" translate="reservation-page-complete.cancel"></span></button>
            <strong translate="email.ticket-email-sent"></strong>
        </div>
      </div>
    </div>
  </div>



  <div class="row d-flex justify-content-between wMarginTop30px">
    <div class="col-md-4 order-1 col-12 wMarginBottom">
      <a class="block-button btn btn-success" [routerLink]="['/event', event.shortName]" translate="buy-other-tickets"></a>
    </div>
    <div class="col-md-4 order-0 col-12 wMarginBottom">
      <a class="block-button btn btn-outline-dark" [attr.href]="event.websiteUrl" translate="to-event-site"></a>
    </div>
  </div>

  <div class="text-center wMarginTop30px">
      {{'reservation-page-complete.order-information' | translate: {'0': reservationId, '1': reservationInfo.firstName + ' ' + reservationInfo.lastName} }}
  </div>
  <div class="text-center wMarginTop30px">
      <span class="text-muted"><a href="https://alf.io" [attr.title]="'alfio.credits' | translate" target="_blank" rel="noreferrer noopener" translate="alfio.credits"></a></span>
  </div>
</div>