<hr>


<h1 translate="reservation-page-complete.your-tickets"></h1>

<div *ngIf="success && event">
  <div class="alert alert-success">
      <div class="row">
          <div class="col-sm-12">
            <h3 [innerHtml]="'reservation-page-complete.info-assign' | translate: {'0':event.displayName}"></h3>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-12" [innerHtml]="'reservation-page-complete.info-assign-email' | translate: {'0':success.reservation.email}"></div>
      </div>
  </div>


  <div *ngIf="success.ticketsAreAllAssigned">
      <p class="bg-info ticket-info" translate="reservation-page-complete.info-update"></p>
  </div>

  <div *ngFor="let tc of success.ticketsByCategory">
    <div *ngFor="let ticket of tc.tickets">
      <div *ngIf="ticket.assigned">
        <div class="attendees-data">
          <h3><fa-icon [icon]="['fa', 'ticket-alt']" size="xs" [classes]="['rotate-45']"></fa-icon> {{'reservation-page-complete.ticket-nr' | translate}}<span class="ticket-counter"></span></h3>
        </div>
        {{'reservation-page-complete.ticket-type'|translate}} <strong>{{tc.ticketCategory.name}}</strong>
        <div class="wMarginBottom">
            <p [innerHtml]="'reservation-page-complete.assigned-to' | translate: {'0': ticket.fullName, '1': ticket.email}"></p>


            <div class="row">
              <div class="col-lg-3 col-sm-6 col-xs-12 wMarginBottom">
                <a [routerLink]="['/event', event.shortName, 'ticket', ticket.uuid, 'view']" target="_blank" class="btn btn-primary btn-block">
                  <fa-icon [icon]="['fa', 'search-plus']"></fa-icon>
                  {{'reservation-page-complete.show-ticket'|translate}}
                </a>
              </div>
              <div class="col-lg-3 col-sm-6 col-xs-12 wMarginBottom">
                <a [attr.href]="'/api/v2/public/event/' + event.shortName + '/ticket/' + ticket.uuid + '/download-ticket'" class="btn btn-primary btn-block">
                  <fa-icon [icon]="['fa', 'download']"></fa-icon>
                  {{'reservation-page-complete.download-ticket'|translate}}
                </a>
              </div>
              <div class="col-lg-3 col-sm-6 col-xs-12 wMarginBottom">
                <button type="button" class="btn btn-primary btn-block send-ticket-by-email" (click)="sendEmailForTicket(ticket.uuid)">
                  <fa-icon [icon]="['far', 'envelope']"></fa-icon>
                  {{'reservation-page-complete.send-ticket-by-email-to'|translate}}
                </button>
              </div>
              <div class="col-lg-3 col-sm-6 col-xs-12 wMarginBottom">
                <a href="" class="btn btn-primary btn-block update-ticket-owner">
                  <fa-icon [icon]="['far', 'edit']"></fa-icon>
                  {{'reservation-page-complete.update-ticket-owner'|translate}}
                </a>
              </div>
            </div>
        </div>


        <div class="alert alert-success wMarginTop30px wMarginBottom hidden alert-dismissible" role="alert" *ngIf="sendEmailForTicketStatus[ticket.uuid] === 'SENT'">
            <button type="button" class="close" (click)="sendEmailForTicketStatus[ticket.uuid] = false"><span aria-hidden="true">&times;</span><span class="sr-only" translate="reservation-page-complete.cancel"></span></button>
            <strong translate="email.ticket-email-sent"></strong>
        </div>
      </div>
    </div>
  </div>



  <div class="row d-flex justify-content-between wMarginTop30px">
    <div class="col-md-4 order-1 col-12">
      <a class="block-button btn btn-success" [routerLink]="['/event', event.shortName]" translate="buy-other-tickets"></a>
    </div>
    <div class="col-md-4 order-0 col-12">
      <a class="block-button btn btn-outline-dark" [attr.href]="event.websiteUrl" translate="to-event-site"></a>
    </div>
  </div>

  <div class="text-center wMarginTop30px">
      {{'reservation-page-complete.order-information' | translate: {'0': success.reservation.id, '1': success.reservation.fullName} }}
  </div>
  <div class="text-center wMarginTop30px">
      <span class="text-muted"><a href="https://alf.io" [attr.title]="'alfio.credits' | translate" target="_blank" rel="noreferrer noopener" translate="alfio.credits"></a></span>
  </div>
</div>