<hr>
<app-stepper [currentStep]="2"></app-stepper>
<hr>
<div *ngIf="reservation">
  <form [formGroup]="contactAndTicketsForm" (submit)="submitForm()">

    <div class="page-header">
      <h2 translate="reservation-page.your-details"></h2>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label for="first-name" translate="common.first-name"></label>
          <input id="first-name" class="form-control" formControlName="firstName" type="text" required>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <label for="last-name" translate="common.last-name"></label>
        <input id="last-name" class="form-control" formControlName="lastName" type="text" required>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
            <label for="email" translate="common.email">Email</label>
            <input id="email" class="form-control" formControlName="email" type="email" required>
        </div>
      </div>
    </div>


    <div class="page-header">
      <h2 translate="reservation-page.attendees"></h2>
    </div>

    <div *ngFor="let tc of reservation.ticketsByCategory">
      <div *ngFor="let ticket of tc.tickets" formGroupName="tickets">
          <div [formGroupName]="ticket.uuid" class="attendees-data">
            <h3><fa-icon [icon]="['fa', 'ticket-alt']" size="xs" [classes]="['rotate-45']"></fa-icon> {{'reservation-page-complete.ticket-nr' | translate}}<span class="ticket-counter"></span>- {{tc.ticketCategory.name}}</h3>

            <div *ngFor="let field of ticket.ticketFieldConfigurationBeforeStandard">
              <app-additional-field [field]="field" [ticketUUID]="ticket.uuid" [form]="getControlFormForAdditionalFields(ticket.uuid)"></app-additional-field>
            </div>

            <div class="form-group row">
                <label [attr.for]="ticket.uuid + '-first-name'" class="col-sm-3 col-form-label">{{'common.first-name' | translate}} *</label>
                <div class="col-sm-9">
                  <input [attr.id]="ticket.uuid + '-first-name'" formControlName="firstName" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label [attr.for]="ticket.uuid + '-last-name'" class="col-sm-3 col-form-label">{{'common.last-name' | translate}} *</label>
                <div class="col-sm-9">
                  <input [attr.id]="ticket.uuid + '-last-name'" formControlName="lastName" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label [attr.for]="ticket.uuid + '-email'" class="col-sm-3 col-form-label">{{'common.email' | translate}} *</label>
                <div class="col-sm-9">
                  <input [attr.id]="ticket.uuid + '-email'" formControlName="email" type="email" class="form-control">
                </div>
            </div>

            <div *ngFor="let field of ticket.ticketFieldConfigurationAfterStandard">
              <app-additional-field [field]="field" [ticketUUID]="ticket.uuid" [form]="getControlFormForAdditionalFields(ticket.uuid)"></app-additional-field>
            </div>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-between">
      <div class="col-md-4 order-1 col-12">
        <button type="submit" class="block-button btn btn-success" translate="reservation-page.continue"></button>
      </div>
      <div class="col-md-4 order-0 col-12 ">
        <button type="button" class="block-button btn btn-outline-dark" (click)="cancelPendingReservation()" translate="reservation-page.cancel"></button>
      </div>
    </div>
  </form>
</div>
