<div *ngIf="reservationInfo && event">

  <app-stepper [currentStep]="2" [free]="event.free"></app-stepper>

  <app-countdown [validity]="reservationInfo.validity" (expired)="handleExpired($event)"></app-countdown>

  <form [formGroup]="contactAndTicketsForm" (submit)="submitForm()">

    <div class="page-header">
      <h2 translate="reservation-page.your-details"></h2>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="globalErrors && globalErrors.length > 0">
      <div *ngFor="let err of globalErrors"><strong [translate]="err.code"></strong></div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label for="first-name">{{'common.first-name'|translate}}{{' '}}*</label>
          <input id="first-name" class="form-control" formControlName="firstName" type="text" #contactFirstName autocomplete="fname" [attr.maxlength]="255" appInvalidFeedback (change)="handleAutocomplete('firstName', contactFirstName.value)">
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label for="last-name">{{'common.last-name'|translate}}{{' '}}*</label>
          <input id="last-name" class="form-control" formControlName="lastName" type="text" #contactLastName autocomplete="lname" [attr.maxlength]="255" appInvalidFeedback (change)="handleAutocomplete('lastName', contactLastName.value)">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
            <label for="email">{{'common.email'|translate}}{{' '}}*</label>
            <input id="email" class="form-control" formControlName="email" type="email" #contactLastEmail autocomplete="email" [attr.maxlength]="255" appInvalidFeedback (change)="handleAutocomplete('email', contactLastEmail.value)">
        </div>
      </div>
    </div>

    <!-- invoicing section -->
    <a id="invoiceSection" #invoiceAnchor></a>
    <div *ngIf="event.invoicingConfiguration.onlyInvoice">
      <app-invoice-form [form]="contactAndTicketsForm" [event]="event"></app-invoice-form>
    </div>
    <div *ngIf="!reservationInfo.orderSummary.free && event.invoicingConfiguration.invoiceAllowed && !event.invoicingConfiguration.onlyInvoice">
      <div class="custom-control custom-checkbox wMarginTop">
        <input class="custom-control-input" type="checkbox" formControlName="invoiceRequested" (change)="handleInvoiceRequestedChange()" id="invoiceRequested">
        <label for="invoiceRequested" class="custom-control-label">
          {{' '}}<span translate="reservation-page.i-need-an-invoice"></span>
        </label>
      </div>

      <app-invoice-form *ngIf="contactAndTicketsForm.value.invoiceRequested" [form]="contactAndTicketsForm" [event]="event"></app-invoice-form>
    </div>
    <!-- -->


    <div class="page-header">
      <h2 translate="reservation-page.attendees"></h2>
    </div>

    <div class="custom-control custom-checkbox wMarginBottom" *ngIf="!event.assignmentConfiguration.forceAssignment && ticketCounts > 1 && !reservationInfo.containsCategoriesLinkedToGroups">
      <input id="postponeAssignment" class="custom-control-input" type="checkbox" formControlName="postponeAssignment" id="postpone-assignment" value="true">
      <label class="custom-control-label" for="postpone-assignment">{{' '}}{{'reservation-page.postpone-assignment'|translate}}</label>
    </div>

    <ng-container *ngIf="!contactAndTicketsForm.value.postponeAssignment">
      <div *ngFor="let tc of reservationInfo.ticketsByCategory; let firstCategory = first; ">
        <div *ngFor="let ticket of tc.tickets; let firstTicket = first;" formGroupName="tickets">
          <div class="attendees-data">
              <h3>
                <fa-icon [icon]="['fas', 'ticket-alt']" size="xs" [classes]="['rotate-45']"></fa-icon>
                <span>{{' '}}{{'reservation-page-complete.ticket-nr' | translate}}<span class="ticket-counter"></span>- {{tc.name}}</span>

                <button *ngIf="!enableAttendeeAutocomplete && firstCategory && firstTicket"
                        class="btn btn-light btn-xs float-right"
                        [ngbTooltip]="'reservation-page.copy-attendee'|translate"
                        type="button"
                        (click)="copyContactInfoTo(ticket)">
                  <fa-icon [icon]="['far', 'clone']"></fa-icon>
                </button>
              </h3>
              <app-ticket-form [ticket]="ticket" [event]="event" [form]="contactAndTicketsForm.get('tickets.'+ticket.uuid)"></app-ticket-form>
          </div>
        </div>
      </div>
    </ng-container>

    <p><strong>*</strong>{{' '}}<span translate="common.required-fields"></span></p>

    <div class="row d-flex justify-content-between mobile-add-margin-bottom">
      <div class="col-md-5 order-md-1 col-12">
        <button type="submit" class="block-button btn btn-success" translate="reservation-page.continue" [disabled]="expired"></button>
      </div>
      <div class="col-md-5 order-md-0 col-12 ">
        <button type="button" class="block-button btn btn-light" (click)="cancelPendingReservation()" translate="reservation-page.cancel"></button>
      </div>
    </div>
  </form>
</div>
