<app-event-header *ngIf="event" [event]="event"></app-event-header>

<hr>

<div *ngIf="reservationInfo && event">

  <app-stepper [currentStep]="2" [free]="event.free"></app-stepper>

  <app-countdown [validity]="reservationInfo.validity" (onExpired)="handleExpired($event)"></app-countdown>

  <form [formGroup]="contactAndTicketsForm" (submit)="submitForm()">

    <div class="page-header">
      <h2 translate="reservation-page.your-details"></h2>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label for="first-name">{{'common.first-name'|translate}}{{' '}}*</label>
          <input id="first-name" class="form-control" formControlName="firstName" type="text" autocomplete="fname" maxlength="255">
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <label for="last-name">{{'common.last-name'|translate}}{{' '}}*</label>
        <input id="last-name" class="form-control" formControlName="lastName" type="text" autocomplete="lname" maxlength="255">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
            <label for="email">{{'common.email'|translate}}{{' '}}*</label>
            <input id="email" class="form-control" formControlName="email" type="email" autocomplete="email" maxlength="255">
        </div>
      </div>
    </div>


    <div class="page-header">
      <h2 translate="reservation-page.attendees"></h2>
    </div>

    <div *ngFor="let tc of reservationInfo.ticketsByCategory">
      <div *ngFor="let ticket of tc.tickets" formGroupName="tickets">
        <div class="attendees-data">
            <h3><fa-icon [icon]="['fa', 'ticket-alt']" size="xs" [classes]="['rotate-45']"></fa-icon> {{'reservation-page-complete.ticket-nr' | translate}}<span class="ticket-counter"></span>- {{tc.name}}</h3>
            <app-ticket-form [ticket]="ticket" [event]="event" [form]="contactAndTicketsForm.get('tickets.'+ticket.uuid)"></app-ticket-form>
        </div>
      </div>
    </div>

    <p><strong>*</strong>{{' '}}<span translate="common.required-fields"></span></p>

    <div class="row d-flex justify-content-between">
      <div class="col-md-4 order-1 col-12">
        <button type="submit" class="block-button btn btn-success" translate="reservation-page.continue" [disabled]="expired"></button>
      </div>
      <div class="col-md-4 order-0 col-12 ">
        <button type="button" class="block-button btn btn-outline-dark" (click)="cancelPendingReservation()" translate="reservation-page.cancel"></button>
      </div>
    </div>
  </form>
</div>
