<app-reservation>

<div *ngIf="reservationInfo && event">

  <app-stepper [currentStep]="3" [free]="reservationInfo.orderSummary.free" [inProgress]="true"></app-stepper>

  <div class="page-header">
    <h2 translate="reservation-page.title"></h2>
  </div>

  <app-summary-table [event]="event" [reservationInfo]="reservationInfo"></app-summary-table>

  <div class="alert alert-info text-center">
    <h4><fa-icon [icon]="['fas', 'cog']" [spin]="true"></fa-icon>{{' '}}<span translate="reservation.payment-in-progress"></span></h4>
  </div>
</div>

</app-reservation>