<ng-container *ngIf="events">
  <app-language-selector [contentLanguages]="languages"></app-language-selector>

  <h1 translate="event-list.title"></h1>

  <div class="card-deck" *ngFor="let chunk of events">
    <div class="card card-light event-card mb-3" *ngFor="let event of chunk">
      <div class="card-header bg-white event-header" [ngStyle]="imageUrl(event)">
        
      </div>
      <div class="card-body">
        <h2 class="card-title">{{event.displayName}}</h2>
        <p class="card-text"><fa-icon [icon]="['far', 'calendar-alt']" class="text-muted"></fa-icon>&nbsp;{{event.formattedBeginDate[translate.currentLang]}} <span class="text-muted" *ngIf="displayTimeZoneInfo(event)">&nbsp; ({{event.timeZone}})</span></p>
        <p class="card-text text-muted mt-1">{{event.location}}</p>
      </div>
      <div class="card-footer border-top-0 bg-white">
        <div class="d-flex justify-content-end">
          <a [routerLink]="['event', event.shortName]" class="btn btn-success stretched-link" translate="event-list.link"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="alert text-center" *ngIf="events.length == 0">
    <h3 translate="event-list.no-events"></h3>
  </div>

</ng-container>
