.event-header {
    height: 100px;
    overflow: hidden;
    background-position: top center;
    background-repeat: no-repeat;
}

.event-header > img {
    position: relative;
    max-height: 100px;
    width: auto;
}

a.no-decoration:hover {
    text-decoration:none;
}

.event-card:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}