<div *ngIf="event">
    <app-event-header [event]="event"></app-event-header>
</div>
<div *ngIf="tmpEvent">
  <div>
    <img [src]="tmpEvent.locationDescriptor.mapUrl">
  </div>
  <form [formGroup]="reservationForm" (submit)="submitForm(tmpEvent.event.shortName, reservationForm.value)">
    <div>
        <ul>
          <li *ngFor="let category of tmpEvent.ticketCategories;let counter = index"
              formArrayName="reservation">
              <div [formGroupName]="counter">
                  <p>{{category.name}}</p>
                  <p>{{category.description}}</p>
                  <select formControlName="amount">
                    <option *ngFor="let amount of category.amountOfTickets" [value]="amount">{{amount}}</option>
                  </select>
              </div>
          </li>
        </ul>
    </div>
    {{reservationForm.value|json}}

    <button type="submit">Next</button>
  </form>
</div>