<div *ngIf="event">
    <app-event-header [event]="event"></app-event-header>

    <hr>

    <div class="row">
        <div [ngClass]="{'col-md-7': event.mapUrl, 'col-md-12': !event.mapUrl}">
          <app-event-summary [event]="event"></app-event-summary>
        </div>
        <div class="col-md-5" *ngIf="event.mapUrl"><img [src]="event.mapUrl" class="img-responsive"></div>
    </div>

    <hr>

    <div [innerHtml]="event.description[translate.currentLang]"></div>


    <h2 translate="show-event.tickets"></h2>


    <div *ngIf="ticketCategories">
        <form [formGroup]="reservationForm" (submit)="submitForm(event.shortName, reservationForm.value)">
          <div>
              <ul class="list-group ticket-categories">
                <li *ngFor="let category of ticketCategories;let counter = index" formArrayName="reservation" class="list-group-item">
                    <div [formGroupName]="counter" class="row">
                        <div class="col-sm-7">
                          <h3>{{category.name}}</h3>
                          <div translate="show-event.sales-end"></div>
                          <div [innerHtml]="category.description[translate.currentLang]"></div>
                        </div>
                        <div class="col-sm-3">
                          <span *ngIf="category.free" translate="common.free"></span>
                          <span *ngIf="!category.free">{{category.formattedFinalPrice}} {{event.currency}} <fa-icon [icon]="['fa', 'info-circle']" class="text-info" ngbTooltip="{{(event.vatIncluded ? 'show-event.incVat' : 'show-event.excVat') | translate:{'0': event.vat, '1': ''} }}"></fa-icon></span>
                        </div>
                        <div class="col-sm-2">
                          <select formControlName="amount" class="form-control">
                            <option *ngFor="let amount of category.amountOfTickets" [value]="amount">{{amount}}</option>
                          </select>
                        </div>
                    </div>
                </li>
              </ul>
          </div>
          <hr>
          <div class="row d-flex justify-content-between">
            <div class="col-md-4 order-1 col-12"><button type="submit" class="block-button btn btn-success" translate="show-event.continue"></button></div>
            <div class="col-md-4 order-0 col-12 "><a [href]="event.websiteUrl" class="block-button btn btn-outline-dark" translate="to-event-site"></a></div>
          </div>
        </form>
      </div>

</div>