<div *ngIf="event">
    <app-event-header [event]="event"></app-event-header>

    <hr>

    <div class="row">
        <div class="col-md-7">
          <h2 translate="ticket.event-info"></h2>
          <div>{{'show-event.by'|translate}} <strong>{{event.organizationName}}</strong> &lt;<a [href]="'mailto:'+ event.organizationEmail">{{event.organizationEmail}}</a>&gt;</div>
          <div>
            <ul class="list-unstyled">
              <li><fa-icon [icon]="['far', 'calendar-alt']"></fa-icon></li>
              <li>
                <fa-icon [icon]="['far', 'calendar-plus']"></fa-icon> {{'show-event.add-to-calendar' | translate}}
                <a title="{{'show-event.add-to-calendar' | translate}} google" target="_blank"
                  href="/api/v2/public/event/{{event.shortName}}/calendar/{{translate.currentLang}}?type=google"><fa-icon [icon]="['fab', 'google']"></fa-icon></a>
                &ngsp;<a title="{{'show-event.add-to-calendar' | translate}} iCalendar" target="_blank"
                  href="/api/v2/public/event/{{event.shortName}}/calendar/{{translate.currentLang}}"><fa-icon [icon]="['far', 'calendar-check']"></fa-icon></a>
              </li>
              <li>
                <fa-icon [icon]="['far', 'compass']"></fa-icon> {{event.location}}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-5"><img [src]="event.locationDescriptor.mapUrl" class="img-responsive"></div>
    </div>

    <hr>

    <div [innerHtml]="event.description[translate.currentLang]"></div>


    <h2 translate="show-event.tickets"></h2>

</div>

<div *ngIf="tmpEvent">
  
  <form [formGroup]="reservationForm" (submit)="submitForm(tmpEvent.event.shortName, reservationForm.value)">
    <div>
        <ul>
          <li *ngFor="let category of tmpEvent.ticketCategories;let counter = index"
              formArrayName="reservation">
              <div [formGroupName]="counter">
                  <p>{{category.name}}</p>
                  <p>{{category.description}}</p>
                  <select formControlName="amount">
                    <option *ngFor="let amount of category.amountOfTickets" [value]="amount">{{amount}}</option>
                  </select>
              </div>
          </li>
        </ul>
    </div>
    <!--{{reservationForm.value|json}}-->
    <hr>
    <div class="row d-flex justify-content-between">
      <div class="col-md-4 order-1 col-12"><button type="submit" class="block-button btn btn-success" translate="show-event.continue"></button></div>
      <div class="col-md-4 order-0 col-12 "><a [href]="event.websiteUrl" class="block-button btn btn-outline-dark" translate="to-event-site"></a></div>
    </div>
  </form>
</div>