.ticket-categories h3 {
    font-size: 1rem;
    font-weight: bold;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.promo-code-input {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.ticket-category-restricted {
    background-color: #F5F5DC
}