<hr>
<div *ngIf="reservationInfo && event">

  <app-stepper [currentStep]="3" [free]="event.free"></app-stepper>

  <app-countdown [validity]="reservationInfo.validity" (onExpired)="handleExpired($event)"></app-countdown>

  <form [formGroup]="overviewForm" (submit)="confirm(overviewForm.value)">


    <div class="page-header">
      <h2 translate="reservation-page.title"></h2>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th translate="reservation-page.category"></th>
          <th class="text-center" translate="reservation-page.amount"></th>
          <th class="text-right" translate="reservation-page.price"></th>
          <th class="text-right" translate="reservation-page.subtotal"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let summaryRow of reservationInfo.orderSummary.summary">
          <td>{{summaryRow.name}}</td>
          <td class="text-center">{{summaryRow.amount}}</td>
          <td class="text-right">{{summaryRow.price}}</td>
          <td class="text-right">{{summaryRow.subTotal}} {{event.currency}}</td>
        </tr>
      </tbody>
      <tfoot>
          <tr *ngIf="!reservationInfo.orderSummary.free && reservationInfo.orderSummary.displayVat && !event.vatIncluded">
              <td colspan="3">{{'reservation-page.vat'|translate:{'0': event.vat, '1': 'TODO'} }}</td>
              <td class="text-right">{{reservationInfo.orderSummary.totalVAT}} {{event.currency}}</td>
          </tr>
          <tr>
            <th colspan="3" translate="reservation-page.total"></th>
            <td class="text-right"><strong>{{reservationInfo.orderSummary.totalPrice}} {{event.currency}}</strong></td>
          </tr>
          <tr *ngIf="!reservationInfo.orderSummary.free && reservationInfo.orderSummary.displayVat && event.vatIncluded">
              <td colspan="3">{{'reservation-page.vat-included'|translate: {'0': event.vat, '1': 'TODO'} }}</td>
              <td class="text-right">{{reservationInfo.orderSummary.totalVAT}} {{event.currency}}</td>
          </tr>
          <tr *ngIf="!reservationInfo.orderSummary.free && !reservationInfo.orderSummary.displayVat">
              <td colspan="4">{{'invoice.vat-voided'|translate: {'0': 'TODO'} }}</td>
          </tr>
      </tfoot>
    </table>

    <div>
      <p *ngIf="event.privacyPolicyUrl">
        <label>
          <input formControlName="privacyPolicyAccepted" type="checkbox">{{' '}} <!-- ugly, see  https://github.com/angular/angular/issues/21049 -->
          <span translate="reservation-page.privacy.prefix"></span>{{' '}}<a [attr.href]="event.privacyPolicyUrl" target="_blank" translate="reservation-page.privacy.link.text"></a><span translate="reservation-page.privacy.suffix"></span>
        </label>
      </p>
      <p>
        <label>
          <input formControlName="termAndConditionsAccepted" type="checkbox">{{' '}}
          <span translate="reservation-page.tc.prefix"></span>{{' '}}<a [attr.href]="event.termsAndConditionsUrl" target="_blank" translate="reservation-page.tc.link.text"></a><span translate="reservation-page.tc.suffix"></span>
        </label>
      </p>
    </div>

    <div class="row d-flex justify-content-between">
      <div class="col-md-4 order-1 col-12">
        <button *ngIf="reservationInfo.orderSummary.free" type="submit" class="block-button btn btn-success" translate="reservation-page.continue" [disabled]="expired"></button>
        <button *ngIf="!reservationInfo.orderSummary.free" type="submit" class="block-button btn btn-success" [disabled]="expired">
            {{'reservation-page.pay'|translate}} {{reservationInfo.orderSummary.totalPrice}} {{event.currency}}
        </button>
      </div>
      <div class="col-md-4 order-0 col-12 ">
        <button type="button" class="block-button btn btn-outline-dark" (click)="back()" translate="common.back"></button>
      </div>
    </div>
  </form>
</div>