<app-reservation>

<div *ngIf="reservationInfo && event">

  <app-stepper [currentStep]="3" [free]="reservationInfo.orderSummary.free"></app-stepper>

  <app-countdown *ngIf="!expired" [validity]="reservationInfo.validity" (expired)="handleExpired($event)"></app-countdown>

  <form [formGroup]="overviewForm" (submit)="confirm()">


    <div class="page-header">
      <h2 translate="reservation-page.title"></h2>
    </div>

    <div class="row">
      <div class="col-12" [ngClass]="{'col-md-7': !reservationInfo.orderSummary.free && event.invoicingConfiguration.invoiceAllowed}">
        <app-summary-table [event]="event" [reservationInfo]="reservationInfo"></app-summary-table>
      </div>
      <div class="d-none d-md-flex col-md-1 justify-content-md-center" *ngIf="event.invoicingConfiguration.invoiceAllowed">
        <div class="border-left separator"></div>
      </div>

      <div class="col-12 col-md-4 invoice-details" *ngIf="!reservationInfo.orderSummary.free && event.invoicingConfiguration.invoiceAllowed">
        <div class="d-flex flex-column justify-content-center h-100">
          <div class="h5 d-none d-md-block" translate="reservation-page.invoice-details"></div>
          <div class="page-header d-block d-md-none"><h2 translate="reservation-page.invoice-details"></h2></div>
          <div class="row">
            <div class="col-12" *ngIf="reservationInfo.invoiceRequested">
              <address class="text-left">
                <div class="preformatted">{{reservationInfo.billingAddress}}</div>
                <div *ngIf="hasTaxId">{{'invoice.vat' |translate: {'0': ('common.vat' | translate)} }} {{reservationInfo.billingDetails.taxId}}</div>
                <hr *ngIf="enabledItalyEInvoicing"/>
                <h5 class="d-none d-md-block" *ngIf="enabledItalyEInvoicing" translate="invoice-fields.addresseeItalyEInvoice"></h5>
                <div *ngIf="enabledItalyEInvoicing">{{'invoice-fields.fiscalCode'|translate}}{{': '}}{{italyEInvoicingFiscalCode}}</div>
                <div *ngIf="enabledItalyEInvoicing && italyEInvoicingReference != null">
                  {{(italyEInvoicingSelectedAddresseeKey | translate) + ': ' + italyEInvoicingReference}}
                </div>
              </address>
            </div>
            <div class="col-7 col-md-12 mt-md-3" *ngIf="!reservationInfo.invoiceRequested">
              <div class="h-100 d-flex flex-column justify-content-center"><span translate="reservation-page.no-invoice-requested"></span></div>
            </div>
            <div class="col-5 col-md-12 mt-md-3">
              <button type="button" class="btn btn-secondary" (click)="back(true)"><fa-icon [icon]="['far', 'edit']" a11yRole="presentation"></fa-icon>{{' '}}{{(reservationInfo.invoiceRequested ? 'common.edit' : 'reservation-page.request-invoice') | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div *ngIf="!reservationInfo.orderSummary.free" class="page-header mt-2"><h2 translate="reservation-page.payment"></h2></div>

    <div class="alert alert-danger mt-3 mb-3" role="alert" *ngIf="globalErrors && globalErrors.length > 0">
      <div *ngFor="let err of globalErrors"><strong>{{err.code | translate: err.arguments}}</strong></div>
    </div>

    <div class="alert mt-3 mb-3 text-center" role="alert" *ngIf="submitting" [class.alert-warning]="paymentStatusNotification && paymentStatusNotification.indeterminate">
      <strong *ngIf="!paymentStatusNotification"><span translate="reservation.payment-in-progress"></span><app-animated-dots></app-animated-dots></strong>
      <strong *ngIf="paymentStatusNotification"><span>{{ (paymentStatusNotification.indeterminate ? 'reservation.payment-processing.warning.message' : 'reservation.payment-processing.delay.message') | translate }}</span><app-animated-dots></app-animated-dots></strong>
      <div class="text-center mt-2" *ngIf="paymentStatusNotification && !paymentStatusNotification.indeterminate">
        <button class="btn btn-default" translate="reservation.payment-processing.force-check" (click)="forceCheck()"></button>
      </div>
    </div>

    <div *ngIf="!reservationInfo.orderSummary.free" [class.invisible]="submitting">
      <app-payment-method-selector [event]="event" [reservationInfo]="reservationInfo" [overviewForm]="overviewForm" (selectedPaymentProvider)="registerCurrentPaymentProvider($event)"></app-payment-method-selector>
    </div>


    <div *ngIf="reservationInfo.orderSummary.free && event.captchaConfiguration.captchaForOfflinePaymentAndFree" class="mt-2 wMarginBottom">
      <app-recaptcha [apiKey]="event.captchaConfiguration.recaptchaApiKey" (recaptchaResponse)="handleRecaptchaResponse($event)"></app-recaptcha>
    </div>

    <div class="custom-control custom-checkbox" *ngIf="event.privacyPolicyUrl" [class.invisible]="submitting">
        <input class="custom-control-input" id="privacyPolicyAccepted" formControlName="privacyPolicyAccepted" type="checkbox" role="group" aria-labelledby="privacy-policy-label">{{' '}} <!-- ugly, see  https://github.com/angular/angular/issues/21049 -->
        <label for="privacyPolicyAccepted" class="custom-control-label" id="privacy-policy-label">
          <span translate="reservation-page.privacy.prefix"></span>{{' '}}<a [attr.href]="event.privacyPolicyUrl" target="_blank" translate="reservation-page.privacy.link.text"></a>{{' '}}<span translate="reservation-page.privacy.suffix"></span>
        </label>
    </div>
    <div class="custom-control custom-checkbox" [class.invisible]="submitting">
        <input class="custom-control-input" id="termsAndConditionsAccepted" formControlName="termAndConditionsAccepted" type="checkbox" role="group" aria-labelledby="terms-conditions-label">
        <label class="custom-control-label" for="termsAndConditionsAccepted" id="terms-conditions-label">
          {{' '}}<span translate="reservation-page.tc.prefix"></span>{{' '}}<a [attr.href]="event.termsAndConditionsUrl" target="_blank" translate="reservation-page.tc.link.text"></a>{{' '}}<span translate="reservation-page.tc.suffix"></span>
        </label>
    </div>

    <div class="row d-flex justify-content-between mobile-add-margin-bottom mt-4" *ngIf="!submitting">
      <div class="col-md-5 order-md-1 col-12">
        <button *ngIf="reservationInfo.orderSummary.free" type="submit" class="block-button btn btn-success" translate="reservation-page.continue" [disabled]="expired"></button>
        <button *ngIf="!reservationInfo.orderSummary.free" type="submit" class="block-button btn btn-success" [disabled]="expired || !selectedPaymentProvider || !acceptedPrivacyAndTermAndConditions">
          <ng-container *ngIf="!reservationInfo.tokenAcquired">
            {{ (paymentMethodDeferred ? 'common.confirm' : 'reservation-page.pay')| translate}} <app-price-tag *ngIf="!paymentMethodDeferred" [event]="event" [formattedPrice]="reservationInfo.orderSummary.totalPrice" [displayTextInline]="true"></app-price-tag>
          </ng-container>
          <ng-container *ngIf="reservationInfo.tokenAcquired">
            {{'reservation-page.confirm-button' | translate}}
          </ng-container>
        </button>
      </div>
      <div class="col-md-5 order-md-0 col-12 ">
        <button type="button" class="block-button btn btn-light" (click)="back()" translate="common.back" *ngIf="!reservationInfo.tokenAcquired"></button>
        <button type="button" class="block-button btn btn-light" (click)="clearToken()" translate="reservation-page-complete.cancel" *ngIf="reservationInfo.tokenAcquired"></button>
      </div>
    </div>
  </form>
</div>

</app-reservation>