<ng-container *ngIf="subscription">
    <header><app-event-header [purchaseContext]="subscription"></app-event-header></header>
    <main>
        <form (submit)="submitForm()">
            {{subscription|json}}

            <div class="row d-flex justify-content-between mobile-add-margin-bottom">
                <div class="col-md-5 order-md-1 col-12"><button type="submit" class="block-button btn btn-success" translate="show-event.continue"></button></div>
            </div>
        </form>
    </main>
</ng-container>