<div class="page-header">
    <h2 translate="reservation-page.invoice-details"></h2>
</div>


<div [formGroup]="form">

  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label translate="invoice.type"></label>
        <div>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="addCompanyBillingDetails" [value]="false" id="invoiceTypePrivate">
              <label class="form-check-label radio-inline" for="invoiceTypePrivate">{{' '}}{{'invoice.type.private' | translate}}</label>
          </div>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="addCompanyBillingDetails" [value]="true" id="invoiceTypeBusiness">
              <label class="form-check-label radio-inline" for="invoiceTypeBusiness">{{' '}}{{'invoice.type.business' | translate}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="invoiceBusiness">
      <div class="col-12">
          <div class="form-group">
              <label for="billingAddressCompany" class="control-label" translate="reservation-page-complete.company"></label>
              <input id="billingAddressCompany" formControlName="billingAddressCompany" class="form-control" type="text" maxlength="255" [attr.placeholder]="'reservation-page.if-applicable'|translate">
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-12">
          <div class="form-group">
              <label for="billingAddressLine1" class="control-label">{{'reservation-page.address-line-1' | translate}}{{' *'}}</label>
              <input id="billingAddressLine1" formControlName="billingAddressLine1" class="form-control" type="text" required maxlength="255">
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-12">
          <div class="form-group">
              <label for="billingAddressLine2" class="control-label">{{'reservation-page.address-line-2' | translate}}</label>
              <input id="billingAddressLine2" formControlName="billingAddressLine2" class="form-control" type="text" maxlength="255">
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-12 col-md-3">
          <div class="form-group">
              <label for="billingAddressZip" class="control-label">{{'reservation-page.zip-postal-code' | translate}}{{' *'}}</label>
              <input id="billingAddressZip" formControlName="billingAddressZip" class="form-control" type="text" required maxlength="50">
          </div>
      </div>
      <div class="col-12 col-md-9">
          <div class="form-group">
              <label for="billingAddressCity" class="control-label">{{'reservation-page.city' | translate}}{{' *'}}</label>
              <input id="billingAddressCity" formControlName="billingAddressCity" class="form-control" type="text" required  maxlength="255">
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-12" [ngClass]="{'col-md-6': customerReferenceEnabled && invoiceBusiness}">
          <div class="form-group">
              <label for="vatCountry" class="control-label">{{'reservation-page-complete.country' | translate}}{{' *'}}</label>
              <select formControlName="vatCountryCode" id="vatCountry" class="form-control field-required" required>
                  <option value="">{{'reservation-page.country.select'|translate}}</option>
                  <ng-container *ngIf="!euVatCheckingEnabled">
                    <option *ngFor="let c of countries" [ngValue]="c.isoCode">{{c.isoCode}} - {{c.name}}</option>
                  </ng-container>
                  <ng-container *ngIf="euVatCheckingEnabled">
                    <optgroup [attr.label]="'reservation-page.eu-countries'|translate">
                        <option *ngFor="let c of euCountries" [ngValue]="c.isoCode">{{c.isoCode}} - {{c.name}}</option>
                    </optgroup>
                    <optgroup [attr.label]="'reservation-page.all-countries'|translate">
                        <option *ngFor="let c of countries" [ngValue]="c.isoCode">{{c.isoCode}} - {{c.name}}</option>
                    </optgroup>
                  </ng-container>
              </select>
          </div>
      </div>

      <div *ngIf="customerReferenceEnabled && invoiceBusiness" class="col-12 col-md-6">
          <div class="form-group">
            <label for="customerReference" class="control-label" translate="common.customer-reference"></label>
            <input type="text" formControlName="customerReference" id="customerReference" class="form-control" maxlength="50">
          </div>
      </div>
  </div>

</div>