<table class="table">
  <thead>
    <tr>
      <th translate="reservation-page.category"></th>
      <th class="text-center" translate="reservation-page.amount"></th>
      <th class="text-right" translate="reservation-page.price"></th>
      <th class="text-right" translate="reservation-page.subtotal"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let summaryRow of reservationInfo.orderSummary.summary">
      <td><span *ngIf="summaryRow.type === 'DYNAMIC_DISCOUNT'" translate="reservation.dynamic.discount.description"></span><span *ngIf="summaryRow.type !== 'DYNAMIC_DISCOUNT'">{{summaryRow.name}}</span></td>
      <td class="text-center">{{summaryRow.amount}}</td>
      <td class="text-right">{{summaryRow.price}}</td>
      <td class="text-right"><app-price-tag [event]="event" [formattedPrice]="summaryRow.subTotal"></app-price-tag></td>
    </tr>
  </tbody>
  <tfoot>
      <tr *ngIf="!reservationInfo.orderSummary.free && reservationInfo.orderSummary.displayVat && !event.vatIncluded">
          <td colspan="3">{{'reservation-page.vat'|translate:{'0': event.vat, '1': ('common.vat' | translate)} }}</td>
          <td class="text-right"><app-price-tag [event]="event" [formattedPrice]="reservationInfo.orderSummary.totalVAT"></app-price-tag></td>
      </tr>
      <tr>
        <th colspan="3">{{'reservation-page.total'|translate}}<span *ngIf="displaySplitPaymentNote"> *</span></th>
        <td class="text-right"><strong><app-price-tag [event]="event" [formattedPrice]="reservationInfo.orderSummary.totalPrice"></app-price-tag></strong></td>
      </tr>
      <tr *ngIf="!reservationInfo.orderSummary.free && reservationInfo.orderSummary.displayVat && event.vatIncluded">
          <td colspan="3">{{'reservation-page.vat-included'|translate: {'0': event.vat, '1': ('common.vat' | translate)} }}</td>
          <td class="text-right">{{reservationInfo.orderSummary.totalVAT}} {{event.currency}}</td>
      </tr>
      <tr *ngIf="!reservationInfo.orderSummary.free && !reservationInfo.orderSummary.displayVat">
          <td colspan="4">{{'invoice.vat-voided'|translate: {'0': ('common.vat' | translate)} }}</td>
      </tr>
      <tr *ngIf="displaySplitPaymentNote">
        <td colspan="4">* {{'invoice.vat-not-added'|translate: {'0': ('common.vat' | translate)} }}</td>
      </tr>
  </tfoot>
</table>
