<div *ngIf="event && ticketInfo">
  <app-event-header [event]="event"></app-event-header>

  <hr>

  <div class="ticket">
      <div class="row">
          <div class="col-md-8 col-12">
              <app-event-summary [event]="event" [dateValidityProvider]="ticketInfo"></app-event-summary>
          </div>
          <div class="col-md-4 col-12">
              <img src="/api/v2/public/event/{{event.shortName}}/ticket/{{ticketInfo.uuid}}/code.png" class="img-responsive img-center">
          </div>
      </div>

      <div class="wMarginTop30px wMarginBottom30px">
          <h2 translate="ticket.ticket"></h2>
          <dl class="row">
              <dt class="col-sm-3 align-right-mobile-aware" translate="ticket.holder"></dt>
              <dd class="col-sm-9">{{ticketInfo.fullName}} &lt;{{ticketInfo.email}}&gt;</dd>
              <dt class="col-sm-3 align-right-mobile-aware" translate="ticket.type"></dt>
              <dd class="col-sm-9">{{ticketInfo.ticketCategoryName}}</dd>
              <dt class="col-sm-3 align-right-mobile-aware" translate="ticket.reference-number"></dt>
              <dd class="col-sm-9">{{ticketInfo.uuid}}</dd>
              <dt class="col-sm-3 align-right-mobile-aware" translate="ticket.order-information"></dt>
              <dd class="col-sm-9">{{'ticket.order-information-values' | translate:  {'0': ticketInfo.reservationId, '1': ticketInfo.reservationFullName} }}</dd>
          </dl>
      </div>


      <div *ngIf="ticketInfo.deskPaymentRequired" class="text-center wMarginTop30px wMarginBottom30px">
          <h3 translate="ticket.payment-required"></h3>
      </div>

      <div class="row">
          <div class="col-md-4 offset-md-8 col-12">
                <a [attr.href]="'/api/v2/public/event/' + event.shortName + '/ticket/' + ticketInfo.uuid + '/download-ticket'" class="btn btn-success btn-block">
                    <fa-icon [icon]="['fa', 'download']"></fa-icon>
                    {{'reservation-page-complete.download-ticket'|translate}}
                </a>
          </div>
      </div>
      
  </div>
</div>