/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";


body {
    background-color: #E5E5E5;
}

.application-container {
    background-color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

.block-button {
    width: 100%;
    display: block
}