/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";


body {
    background-color: #E5E5E5;
}

.application-container {
    background-color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

.block-button {
    width: 100%;
    display: block
}


html[lang=nl] .language-selector button[lang=nl],
html[lang=de] .language-selector button[lang=de],
html[lang=en] .language-selector button[lang=en],
html[lang=it] .language-selector button[lang=it],
html[lang=fr] .language-selector button[lang=fr],
html[lang=ro] .language-selector button[lang=ro],
html[lang=pt] .language-selector button[lang=pt] {
    font-weight: bold;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

body {
    counter-reset: ticket-counter;
}

.ticket-counter:before {
    counter-increment: ticket-counter;
    content: counter(ticket-counter);
}

.rotate-45 {
    transform: rotate(-45deg);
}

label.col-form-label {
    text-align: right;
}

.list-group-item {
    border-left:none;
    border-right:none;
}

.list-group-item:first-child {
    border-top:none;
}

.list-group-item:last-child {
    border-bottom:none;
    border-top: none;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.table>thead:first-child>tr:first-child>th {
    border-top: 0;
}

.text-align-right {
    text-align: right;
}