<ng-container *ngIf="events">
  <app-language-selector [contentLanguages]="languages"></app-language-selector>

  <h1 translate="event-list.title"></h1>

  
  <div class="mb-3" *ngFor="let event of events">
    <app-basic-event-info [event]="event"></app-basic-event-info>
  </div>
  <div *ngIf="allEvents.length > 4" class="text-center">
    <a [routerLink]="['events-all']" class="btn btn-outline-primary">View all events</a>
  </div>
  

  <div class="alert text-center" *ngIf="events.length == 0">
    <h3 translate="event-list.no-events"></h3>
  </div>

  <div *ngIf="subscriptions && subscriptions.length > 0">
    <h1>Subscriptions</h1>

    <div class="mb-3" *ngFor="let subscription of subscriptions">
      {{subscription|json}}
    </div>
  </div>

</ng-container>
