<div *ngIf="!polls">
    <h2>Poll</h2>
    <form [formGroup]="pinForm" (submit)="confirmPin()" *ngIf="!polls" class="form-inline justify-content-center">
        <label for="pin" class="mr-sm-2">Enter your pin</label>
        <input id="pin" formControlName="pin" class="form-control mr-sm-2">
        <button class="btn btn-primary mt-2 mt-sm-0 flex-grow-1 flex-sm-grow-0" type="submit">{{'show-event.continue'|translate}}</button>
    </form>
</div>

<div *ngIf="polls && polls.length > 0">
    <h2>Select poll</h2>
    <div class="list-group poll-list">
        <a class="list-group-item list-group-item-action" *ngFor="let poll of polls" [routerLink]="[poll.id]" queryParamsHandling="merge">
            <h3>{{poll.title[translate.currentLang]}}</h3>
            <p class="mb-0" *ngIf="poll.description[translate.currentLang]">{{poll.description[translate.currentLang]}}</p>
        </a>
    </div>
</div>