<div *ngIf="event && dateValidityProvider">
  <h2 translate="ticket.event-info" class="mt-4 mb-4 d-none d-md-block"></h2>

  <div>
    <dl class="row">
        <dt class="col-1 text-muted"><fa-icon [icon]="['far', 'building']"></fa-icon></dt>
        <dd class="col-11">{{'show-event.by'|translate}} <strong><a [href]="'mailto:'+ event.organizationEmail">{{event.organizationName}}</a></strong></dd>
        <dt class="col-1 text-muted"><fa-icon [icon]="['far', 'calendar-alt']"></fa-icon></dt>
        <dd class="col-11">
          <!-- same day-->
          <span *ngIf="dateValidityProvider.sameDay">
            {{' ' + dateValidityProvider.formattedBeginDate[translate.currentLang]}}&nbsp;{{'event-days.single-day.hours'|translate: {'0': dateValidityProvider.formattedBeginTime[translate.currentLang], '1': dateValidityProvider.formattedEndTime[translate.currentLang]} }}
            <span class="text-muted" *ngIf="displayTimeZoneInfo">&nbsp; ({{dateValidityProvider.timeZone}})</span>
          </span>
          <!-- more than one day-->
          <div *ngIf="!dateValidityProvider.sameDay">
            <div class="row">
              <div class="col-2"><strong translate="event-days.from"></strong></div>
              <div class="col-10">{{localizedStartDateForMultiDay}} <span class="text-muted" *ngIf="displayTimeZoneInfo">&nbsp; ({{dateValidityProvider.timeZone}})</span></div>
            </div>
            <div class="row">
              <div class="col-2"><strong translate="event-days.to"></strong></div>
              <div class="col-10">{{localizedEndDateForMultiDay}} <span class="text-muted" *ngIf="displayTimeZoneInfo">&nbsp; ({{dateValidityProvider.timeZone}})</span></div>
            </div>
          </div>
        </dd>
        <dt class="col-1 text-muted"><fa-icon [icon]="['far', 'calendar-plus']"></fa-icon></dt>
        <dd class="col-11">
          {{'show-event.add-to-calendar' | translate}} &nbsp;
          <a target="_blank" href="/api/v2/public/event/{{event.shortName}}/calendar/{{translate.currentLang}}?type=google">Google</a>
          &nbsp;&ndash;&nbsp;
          <a target="_blank" href="/api/v2/public/event/{{event.shortName}}/calendar/{{translate.currentLang}}">iCalendar</a>
        </dd>
        <dt class="col-1 text-muted"><fa-icon [icon]="['far', 'compass']"></fa-icon></dt>
        <dd class="col-11">{{event.location}}</dd>
        
    </dl>
  </div>
</div>
