<div *ngIf="event && dateValidityProvider">
  <h2 translate="ticket.event-info"></h2>
  <div>{{'show-event.by'|translate}} <strong>{{event.organizationName}}</strong> &lt;<a [href]="'mailto:'+ event.organizationEmail">{{event.organizationEmail}}</a>&gt;</div>
  <div>
    <ul class="list-unstyled">

      <!-- same day-->
      <li *ngIf="dateValidityProvider.sameDay">
        <fa-icon [icon]="['far', 'calendar-alt']"></fa-icon>
        {{' ' + dateValidityProvider.formattedBeginDate[translate.currentLang]}}
      </li>
      <li *ngIf="dateValidityProvider.sameDay">
        <fa-icon [icon]="['far', 'clock']"></fa-icon>
        {{' ' + dateValidityProvider.formattedBeginTime[translate.currentLang] + ' ' + dateValidityProvider.formattedEndTime[translate.currentLang] }}
      </li>
      <!-- more than one day-->
      <li *ngIf="!dateValidityProvider.sameDay">
          <fa-icon [icon]="['far', 'calendar-alt']"></fa-icon>
          {{'event-days.not-same-day'|translate: {'0': dateValidityProvider.formattedBeginDate[translate.currentLang], '1': dateValidityProvider.formattedBeginTime[translate.currentLang]} }}
          {{' - '}}
          {{'event-days.not-same-day'|translate: {'0': dateValidityProvider.formattedEndDate[translate.currentLang], '1': dateValidityProvider.formattedEndTime[translate.currentLang]} }}
          {{' '}}
          <fa-icon [icon]="['fa', 'info-circle']" class="text-info" ngbTooltip="{{'show-event.timezone.warn' | translate:{'0': dateValidityProvider.timeZone} }}"></fa-icon>
      </li>


      <li>
        <fa-icon [icon]="['far', 'calendar-plus']"></fa-icon> {{'show-event.add-to-calendar' | translate}}
        <a ngbTooltip="{{'show-event.add-to-calendar' | translate}} google" target="_blank"
          href="/api/v2/public/event/{{event.shortName}}/calendar/{{translate.currentLang}}?type=google"><fa-icon [icon]="['fab', 'google']"></fa-icon></a>
        {{' '}} <!-- ugly, see  https://github.com/angular/angular/issues/21049 -->
        <a ngbTooltip="{{'show-event.add-to-calendar' | translate}} iCalendar" target="_blank"
          href="/api/v2/public/event/{{event.shortName}}/calendar/{{translate.currentLang}}"><fa-icon [icon]="['far', 'calendar-check']"></fa-icon></a>
      </li>
      <li>
        <fa-icon [icon]="['far', 'compass']"></fa-icon> {{event.location}}
      </li>
    </ul>
  </div>
</div>